# Convert TF model to TFJS model

In [ ]:
%autosave 30

In [1]:
from keras.models import load_model
import tensorflowjs as tfjs

Load model and print model summary.

In [2]:
t_model = load_model('models/model_170322_64b_rm.h5')
t_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 64, 64, 32)        832

 max_pooling2d (MaxPooling2D  (None, 32, 32, 32)       0
 )

 dropout (Dropout)           (None, 32, 32, 32)        0

 conv2d_1 (Conv2D)           (None, 32, 32, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 32, 32, 32)       0
 2D)

 conv2d_2 (Conv2D)           (None, 32, 32, 64)        18496

 max_pooling2d_2 (MaxPooling  (None, 32, 32, 64)       0
 2D)

 conv2d_3 (Conv2D)           (None, 32, 32, 64)        36928

 max_pooling2d_3 (MaxPooling  (None, 16, 16, 64)       0
 2D)

 dropout_1 (Dropout)         (None, 16, 16, 64)        0

 conv2d_4 (Conv2D)           (None, 16, 16, 128)       73856

 dropout_2 (Dropout)         (None, 16, 16, 128)       0

 conv2d_5 (Conv2D)           (None, 16, 16, 128)       147584

 max_pooling2d_4 (MaxPooling  (None, 8, 8, 128)        0
 2D)

 flatten (Flatten)           (None, 8192)              0

 dense (Dense)               (None, 128)               1048704

 dropout_3 (Dropout)         (None, 128)               0

 dense_1 (Dense)             (None, 256)               33024

 dense_2 (Dense)             (None, 17)                4369

=================================================================
Total params: 1,373,041
Trainable params: 1,373,041
Non-trainable params: 0
_________________________________________________________________

Convert to TFJS model and save it.

In [ ]:
tfjs.converters.save_keras_model(t_model, "tfjs models/tfjsmodel_170322_64b_rm.h5/")